<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;500;700&amp;display=swap" rel="stylesheet">
</head>
<body>
<div class="error-page">
    <div th:if="${@userController.logged}" class="error-page-new_game">
        <p th:text="${messageError}"></p>
        <a href="/lightsoff/new">Start new game</a>
    </div>
    <p th:if="not ${@userController.logged}">You are not log in. Please, <a href="/login">log in</a>, if you have an account, or <a href="/register">register</a> in otherwise.</p>
</div>
</body>
</html>